<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Pokeshop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
=======
  <title>Pokemap</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
>>>>>>> cd775b5ec0e6b23b8c805a3974bc911b65af8c7b
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
